<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="description" content="Computer Engineering student at the University of Waterloo. Learn more about me, check out my projects, or read my blog!">
  <meta name="author" content="Taylor Chen">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  <link rel="shortcut icon" href="/images/favicon.ico">
  </head>
<body>
  <div class="container">
    {{ content }}
  </div>
</body>
</html>
